.country{
  border: 2px solid salmon;
  margin-bottom: 5px;
  border-radius: 15px;
  padding: 10px;
}

.country-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;  
}

.visited{
  background-color: brown;
  color: white;
}

.will-visit{
  background-color: rgb(37, 202, 87);
  color: black;
}

.flag-container img{
  width: 100px;
}